.input-group {
    transition: transform 0.2s ease;
}

.input-group:hover,
.input-group:focus-within {
    transform: scale(1.02);
}

/* SearchBar.css */

.input-group {
    margin-bottom: 20px;
}

.btn-search {
    background-color: #007bff;
    color: rgb(0, 0, 0);
    border-color: #00ff08;
}

.btn-search:hover {
    background-color: #640db5;
    border-color: #04ed1f;
}

.form-control {
    border-color: #000000;
}

